<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Svara Spurningalista</title>
    <link rel="stylesheet" th:href="@{/styles/test2.css}"/>
    <!--<link rel="stylesheet" href="../static/styles/test2.css"/>-->
</head>
<body>
    <header class="header">
        <h1>Nafn apps</h1>
    </header>
    <main class="efni">
        <h1>Spurningalisti</h1>

        <section th:if="${not #lists.isEmpty(questionnaire.questions)}">
            <h2>Spurningar:</h2>
            <h3>Þar sem 0 er minnst</h3>
            <form th:action="@{/{qId}/answerQuestionnaire(qId=${request.id})}" th:object="${questionnaire}" method="POST" class="form questionForm">
                <fieldset class="questionFieldset">
                    <div th:each="question, questionIndex : ${questionnaire.questions}" class="question_div">
                        <p th:text="${question.questionString}"></p>
                        <div th:each="answerIndex : ${#numbers.sequence(0, question.numberOfAnswers - 1)}">
                            <label >
                                <input type="radio" th:field="*{questions[__${questionIndex.index}__].answer}" th:value="${answerIndex}" />
                                <span th:text="${answerIndex}"></span>
                            </label>
                        </div>
                    </div>
                </fieldset>
                <div class="question_button">
                    <button class="button"type="submit">Svara</button>
                </div>
            </form>
        </section>

        <p class="p_back"><a class="back" href="/">Til baka</a></p>
    </main>
</body>
</html>