<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Svara Spurningalista</title>
</head>
<body>
<h1>Spurningalisti</h1>

<section th:if="${not #lists.isEmpty(questionnaire.questions)}">
    <h2>Spurningar:</h2>
    <h3>Þar sem 0 er minnst</h3>
    <form th:action="@{/answerQuestionnaire}" th:object="${questionnaire}" method="POST">
        <div th:each="question, questionIndex : ${questionnaire.questions}">
            <p th:text="${question.questionString}"></p>
            <div th:each="answerIndex : ${#numbers.sequence(0, question.numberOfAnswers - 1)}">
                <label>
                    <input type="radio" th:field="*{questions[__${questionIndex.index}__].answer}" th:value="${answerIndex}" />
                    <span th:text="${answerIndex}"></span>
                </label>
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</section>

<p><a href="/">Til baka</a></p>
</body>
</html>