<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Skrá á Biðlista</title>
    </head>
    <body>
        <h2>Ný beiðni</h2>
        <form action="#" th:action="@{/createRequest}" th:object="${waitingLR}" method="post">
            <fieldset>
                <legend>Upplýsingar</legend>

                <label for="bodyPart">Líkamshluti</label>
                <input type="text" th:field="*{bodyPart}" id="bodyPart" placeholder="Likamshluti">
                <!--
                <input type="text" th:field="*{bodyPart}" id="bodyPart" placeholder="Likamshluti">
                <span th:if="${#fields.hasErrors('bodyPart')}" th:errors="*{bodyPart}"></span>

                <label for="description">Lýsing</label>
                <input type="text" th:field="*{description}" id="description"  placeholder="">
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span> -->
            </fieldset>

            <input type="submit"  value="Skrá á biðlista">
        </form>

        <p><a href="/">Til baka</a></p>
    </body>
</html>