<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Forsíða</title>
    </head>
    <body>
        <h1>Biðlistaskráning</h1>

        <section th:switch="${login}">
            <h2 th:case="null">Notandi ekki skráður inn</h2>
            <div th:case="*">
                <h2>Notandi skráður inn:</h2>
                <table>
                    <thead>
                    <tr>
                        <th>Nafn</th>
                    </tr>
                    </thead>
                    <tbody>
                    <td th:text="${login.name}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section th:switch="${patient}">
            <h2 th:case="null">Engir sjúklingar</h2>
            <div th:case="*">
                <h2>Allir skráðir sjúklingar</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nafn</th>
                            <th>Netfang</th>
                            <th>Kennitala</th>
                            <th>Símanúmer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="patient : ${patient}">
                            <td th:text="${patient.name}"></td>
                            <td th:text="${patient.email}"></td>
                            <td th:text="${patient.kennitala}"></td>
                            <td th:text="${patient.phoneNumber}"></td>
                            <td><a th:href="@{/deletePatient/{id}(id=${patient.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/signUp">Búa til aðgang</a></p>
        </section>

        <section>
            <ul>
                <li>
                    <p><a href="/login">Logga sig inn</a></p>
                </li>
                <li>
                  <p><a href="/staffLogin">Starfsmanna login</a></p>
              </li>
                <li>
                    <p><a href="/questionOverview">Spurningar</a></p>
                </li>
                <li>
                    <p><a href="/requestOverview">Skráningar á Biðlista</a></p>
                </li>
            </ul>
        </section>
    </body>
</html>