<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Forsíða</title>
    </head>
    <body>
        <h1>Tjekk!!</h1>
        <section th:switch="${patient}">
            <h2 th:case="null">Engir sjúklingar</h2>
            <div th:case="*">
                <h2>Sjúklingar</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nafn</th>
                            <th>Dagsetning</th>
                            <th>Netfang</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="patient : ${patient}">
                            <td th:text="${patient.name}"></td>
                            <td th:text="${patient.dob}"></td>
                            <td th:text="${patient.email}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/login">Skrá sig inn</a></p>
        </section>
    </body>
</html>