<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Skrá inn</title>
    <link rel="stylesheet" th:href="@{/styles/test.css}"/>
    <!-- <link rel="stylesheet" href="../static/styles/styles.css"/>-->
</head>
<body>
    <header class="header">
        <h1>Nafn apps</h1>
    </header>
    <main class="efni">
        <form action="#" th:action="@{/signUp}" th:object="${user}" method="post" class="form">
            <fieldset>
                <legend>Notenda upplýsingar</legend>
                <div>
                    <label for="name">Name</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="Nafn">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
        
               <div>
                <label for="ssn">Kennitala</label>
                <input type="text" th:field="*{ssn}" id="ssn"  placeholder="xxxxxxxxxx">
                <span th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}"></span>
               </div>
        
                <div>
                    <label for="phNumber">Símanúmer</label>
                <input type="text" th:field="*{phoneNumber}" id="phNumber" placeholder="xxxxxxx">
                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                </div>
                
    
                <div>
                    <label for="address">Heimilisfang</label>
                <input type="text" th:field="*{address}" id="address"  placeholder="">
                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
            </fieldset>
            <fieldset>
                <legend>Skráningar upplýsingar</legend>
                <div>
                    <label for="email">Netfang</label>
                    <input type="text" th:field="*{email}" id="email" placeholder="xxx@email.com">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
        
                <div>
                    <label for="password">Lykilorð</label>
                    <input type="password" th:field="*{password}" id="password"  placeholder="">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
            </fieldset>
    
            <input type="submit"  value="Skrá sig inn" class="button">
        </form>
        <p><a href="/" class="back"> Til baka</a></p>
    </main>
    
</body>

</html>