<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sjúklingur</title>
</head>
<body>

<h1><span th:text="${LoggedInUser.name}"></span></h1>

<!-- Display patient information -->
<p><strong>Kennitala:</strong> <span th:text="${LoggedInUser.ssn}"></span></p>
<p><strong>Heimilsifang:</strong> <span th:text="${LoggedInUser.address}"></span></p>
<p><strong>Netfang:</strong> <span th:text="${LoggedInUser.email}"></span></p>
<p><strong>Sími:</strong> <span th:text="${LoggedInUser.phoneNumber}"></span></p>

<p><a th:href="@{/viewUser/{id}(id=${LoggedInUser.id})}">Breyta notendaupplýsingum</a></p>

<section th:switch="${request}">
    <div th:case="null">
        <form action="#" th:action="@{/createRequest}" th:object="${newRequest}" method="POST">
            <fieldset>
                <legend>Upplýsingar</legend>

                <label for="staff">Starfsmaður</label>
                <select id="staff" th:field="*{staff}">
                    <option th:each="staffMember : ${physiotherapists}" th:value="${staffMember.id}" th:text="${staffMember.name}"></option>
                    <select/>

                    <div th:if="${!questionnaires.isEmpty}">
                        <label for="bodyPart">Líkamshluti</label>
                        <div id="bodyPart">
                            <input type="radio" th:each="questionnaire : ${questionnaires}" th:field="*{questionnaire}" th:value="${questionnaire.id}" th:text="${questionnaire.name}">
                        </div>
                    </div>

                    <label for="description">Lýsing á vandamáli</label>
                    <input type="text" th:field="*{description}" id="description"  placeholder="Lýsing">
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </fieldset>
            <input type="submit"  value="Skrá beiðni">
        </form>
    </div>

    <div th:case="*">
        <h2>Beiðni:</h2>
        <table>
            <thead>
            <tr>
                <th>Dagsetning</th>
                <th th:if="${request.questionnaire != null}">Líkamshluti</th>
                <th>Vandamál</th>
                <th>Sjúkraþjálfari</th>
                <th>Staða umsóknar</th>
            </tr>
            </thead>
            <tbody>
                <td th:text="${request.dateOfRequest}"></td>
                <td th:if="${request.questionnaire != null}" th:text="${request.questionnaire.name}"></td>
                <td th:text="${request.description}"></td>
                <td th:text="${request.staff.name}"></td>
                <td>
                    <p th:if="${request.status == false}">Í bið</p>
                    <p th:if="${request.status == true}">Samþykkt</p>
                </td>
                <td><a th:href="@{/viewRequest/{id}(id=${request.id})}">Skoða</a></td>
                <td><a th:href="@{/deleteRequest/{id}(id=${request.id})}">Eyða Beiðni</a></td>
            </tr>
            </tbody>
        </table>
        <p th:if="${request.questionnaire != null}"><a th:href="@{/answerQuestionnaire/{id}(id=${request.questionnaire.id})}">Svara Spurningalista</a></p>
    </div>


</section>

<p><a th:href="@{/logout}">Útskrá</a></p>
</body>
</html>
