<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sjúklingur</title>
    <link rel="stylesheet" th:href="@{/styles/test2.css}"/>
    <!--<link rel="stylesheet" href="../static/styles/test2.css"/>-->
</head>
<body>
    <header class="header">
        <h1>Nafn apps</h1>
    </header>
<main class="efni">
    <section class="userInfo">
        <div>
            <h2><span th:text="${LoggedInUser.name}"></span></h2>
            <div>
                <p><strong>Kennitala:</strong> <span th:text="${LoggedInUser.ssn}"></span></p>
                <p><strong>Heimilsifang:</strong> <span th:text="${LoggedInUser.address}"></span></p>
            </div>
            <div>
                <p><strong>Netfang:</strong> <span th:text="${LoggedInUser.email}"></span></p>
                <p><strong>Sími:</strong> <span th:text="${LoggedInUser.phoneNumber}"></span></p>
            </div>
        </div>
        <div class="userInfo_change">
            <p><a th:href="@{/viewUser/{id}(id=${LoggedInUser.id})}" class="button">Breyta notendaupplýsingum</a></p>
        </div>
    </section>



    <section th:switch="${request}">
        <div th:case="null">
            <form action="#" th:action="@{/createRequest}" th:object="${newRequest}" method="POST" class="form">
                <fieldset>
                    <legend>Upplýsingar</legend>
                    
                    <div>
                        <label for="staff">Starfsmaður</label>
                        <select id="staff" th:field="*{staff}">
                            <option th:each="staffMember : ${physiotherapists}" th:value="${staffMember.id}" th:text="${staffMember.name}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="bodyPart">Líkamshluti</label>
                        <input type="text" th:field="*{bodyPart}" id="bodyPart" placeholder="Líkamshluti">
                        <span th:if="${#fields.hasErrors('bodyPart')}" th:errors="*{bodyPart}"></span>
                    </div>
                    <div>
                        <label for="description">Lýsing á vandamáli</label>
                        <input type="text" th:field="*{description}" id="description"  placeholder="Lýsing">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                    </div>
                </fieldset>
            <input type="submit"  value="Skrá beiðni" class="button">
        </form>
    </div>

    <div th:case="*" class="requests">
        <h2>Beiðni:</h2>
        <section class="request">
            <div class="request_section">
                <div class="date">
                    <p>Dagsetning</p>
                    <p th:text="${request.dateOfRequest}"></p>
                </div>
                <div>
                    <p>Líkamshluti</p>
                    <p th:text="${request.bodyPart}"></p>
                </div>
                <div>
                    <p>Vandamál</p>
                    <p th:text="${request.description}"></p>
                </div>
            </div>
            <div class="request_section">
                <div>
                    <p>Sjúkraþjálfari</p>
                    <p th:text="${request.staff.name}"></p>
                </div>
                <div class="status">
                    <p>Staða umsóknar</p>
                    <div th:switch="${request.status}">
                        <p th:if="${request.status == false}" class="false">Í bið</p>
                        <p th:if="${request.status == true}" class="true">Samþykkt</p>
                    </div>
                </div>
            </div>
        </section>
        <p th:if="${request.questionnaireID != 0}" class="request_question"><a href="/questionnaire" class="button">Svara Spurningalista</a></p>
    </div>   


</section>

<p class="p_back"><a th:href="@{/logout}" class="back">Útskrá</a></p>
</main>
</body>
</html>
