<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Forsíða starfsmanns</title>
</head>
<body>
<section th:switch="${user}">
    <h2 th:case="null">Engir sjúklingar</h2>
    <div th:case="*">
        <h2>Allir skráðir sjúklingar</h2>
        <table>
            <thead>
            <tr>
                <th>Nafn</th>
                <th>Netfang</th>
                <th>Kennitala</th>
                <th>Símanúmer</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${user}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.kennitala}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td><a th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signUp">Búa til aðgang</a></p>
</section>
<section>
    <p><a href="/logOutStaff">Skrá út</a></p>
</section>
</body>
</html>