<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Skoða Notanda</title>
        <link rel="stylesheet" th:href="@{/styles/test2.css}"/>
        <!--<link rel="stylesheet" href="../static/styles/test2.css"/>-->
</head>
<body>
    <header class="header">
        <h1>Biðlisti</h1>
    </header>
<main class="efni">
    <section th:switch="${user}">
        <h2 th:case="null">Engin notandi valinn</h2>
        <div th:case="*">
            <h2>Upplýsingar notanda:</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Nafn</th>
                    <th th:if="${user.specialization != null}">Sérhæfing</th>
                    <th>Kennitala</th>
                    <th>Netfang</th>
                    <th>Símanúmer</th>
                    <th>Heimilisfang</th>
                    <th th:if="${LoggedInUser.role == T(is.hi.hbv501g.hbv1.Persistence.Entities.User.UserRole).ADMIN}">Tegund Notanda</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.name}"></td>
                    <td th:if="${user.specialization != null}" th:text="${user.specialization}"></td>
                    <td th:text="${user.ssn}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.phoneNumber}"></td>
                    <td th:text="${user.address}"></td>
                    <td th:if="${LoggedInUser.role == T(is.hi.hbv501g.hbv1.Persistence.Entities.User.UserRole).ADMIN}" th:text="${user.role.displayString}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    
    <section>
        <form class="form" action="#"  th:object="${user}" th:action="@{/updateUser/__${user.id}__}" method="POST">
            <fieldset>
                <legend>Breyta upplýsingum</legend>
    
                <div>
                    <label for="name">Name</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="${user.name}">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
    
                <div>
                    <label for="phNumber">Símanúmer</label>
                    <input type="text" th:field="*{phoneNumber}" id="phNumber" placeholder="${user.phoneNumber}">
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                </div>
    
    
                <div>
                    <label for="address">Heimilisfang</label>
                    <input type="text" th:field="*{address}" id="address"  placeholder="${user.address}">
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
    
                <div>
                    <label for="email">Netfang</label>
                    <input type="text" th:field="*{email}" id="email" placeholder="${user.email}">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>

                <div th:if="${user.isElevatedUser}">
                    <label for="specialization">Sérhæfing</label>
                    <input type="text" th:field="*{specialization}" id="specialization" th:placeholder="${user.specialization}">
                    <span th:if="${#fields.hasErrors('specialization')}" th:errors="*{specialization}"></span>
                </div>

                <div th:if="${LoggedInUser.role == T(is.hi.hbv501g.hbv1.Persistence.Entities.User.UserRole).ADMIN}">
                    <label for="role">Tegund Notanda</label>
                    <select th:field="${user.role}" id="role">
                        <option th:each="roleOpt : ${T(is.hi.hbv501g.hbv1.Persistence.Entities.User.UserRole).values()}" th:value="${roleOpt}" th:text="${roleOpt.displayString}"></option>
                    </select>
                </div>
            </fieldset>
            <input type="submit"  value="Skrá breytingar" class="button">
        </form>
    </section>
    
    <section class="viewUser_button">
        <div>
            <p class="p_back"><a th:href="@{/deleteUser/{id}(id=${user.id})}">Eyða aðgangi</a></p>
        </div>
    </section>
    
    <section>
        <p><a href="/userOverview" class="back">Til baka</a></p>
    </section>
</main>
</body>
</html>