<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Skoða notanda</title>
</head>
<body>
<section th:switch="${user}">
    <h2 th:case="null">Engin notandi valinn</h2>
    <div th:case="*">
        <h2>Upplýsingar notanda:</h2>
        <table>
            <thead>
            <tr>
                <th>Nafn</th>
                <th>Kennitala</th>
                <th>Netfang</th>
                <th>Símanúmer</th>
                <th>Heimilisfang</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${user.name}"></td>
                <td th:text="${user.ssn}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phoneNumber}"></td>
                <td th:text="${user.address}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>

<section>
    <form action="#"  th:object="${user}" th:action="@{/updateUser/__${user.id}__}" method="POST">
        <fieldset>
            <legend>Breyta upplýsingum</legend>

            <div>
                <label for="name">Name</label>
                <input type="text" th:field="*{name}" id="name" placeholder="${user.name}">
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <div>
                <label for="phNumber">Símanúmer</label>
                <input type="text" th:field="*{phoneNumber}" id="phNumber" placeholder="${user.phoneNumber}">
                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>


            <div>
                <label for="address">Heimilisfang</label>
                <input type="text" th:field="*{address}" id="address"  placeholder="${user.address}">
                <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
            </div>

            <div>
                <label for="email">Netfang</label>
                <input type="text" th:field="*{email}" id="email" placeholder="${user.email}">
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
        </fieldset>
        <input type="submit"  value="Skrá breytingar">
    </form>
</section>

<section th:if="${LoggedInUser.isAdmin}">
    <td th:if="${!user.isStaff}"><a th:href="@{/makeStaff/{id}(id=${user.id})}">Breyta í starfsmann</a></td>
    <td th:if="${user.isStaff && !user.isPhysiotherapist}"><a th:href="@{/makePhysiotherapist/{id}(id=${user.id})}">Breyta í sjúkraþjálfara</a></td>
    <td th:if="${user.isStaff && !user.isAdmin}"><a th:href="@{/makeAdmin/{id}(id=${user.id})}">Breyta í stjórnanda</a></td>
</section>

<section>
    <a th:href="@{/deleteUser/{id}(id=${user.id})}">Eyða aðgangi</a>
</section>

<section>
    <p><a href="/">Til baka</a></p>
</section>
</body>
</html>