<!DOCTYPE html >
<html xmlns:th="https://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Skoða Beiðni</title>
    <link rel="stylesheet" th:href="@{/styles/test2.css}"/>
    <!--<link rel="stylesheet" href="../static/styles/test2.css"/>-->
</head>
<body>
    <header class="header">
        <h1>Biðlisti</h1>
    </header>
<main class="efni">
    <section th:switch="${request.patient}">
        <h2 th:case="null">Engin notandi skráður fyrir beiðni</h2>
        <div th:case="*">
            <h2>Sjúklingur:</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Nafn</th>
                    <th>Kennitala</th>
                    <th>Netfang</th>
                    <th>Símanúmer</th>
                    <th>Heimilisfang</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${request.patient.name}"></td>
                    <td th:text="${request.patient.ssn}"></td>
                    <td th:text="${request.patient.email}"></td>
                    <td th:text="${request.patient.phoneNumber}"></td>
                    <td th:text="${request.patient.address}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section th:switch="${request}">
        <h2 th:case="null">Engin beiðni valin</h2>
        <div th:case="*">
            <h2>Beiðni:</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Skráður starfsmaður</th>
                        <th th:if="${request.questionnaire != null}" >Líkamshluti</th>
                        <th>Lýsing</th>
                        <th>Staða</th>
                        <th th:if="${LoggedInUser.isElevatedUser}">Forgangur</th>
                        <th>Dagsetning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${request.staff.name}"></td>
                        <td th:if="${request.questionnaire != null}" th:text="${request.questionnaire.name}"></td>
                        <td th:text="${request.description}"></td>

                        <td>
                            <p th:if="${request.status == false}">Ekki Samþykkt</p>
                            <p th:if="${request.status == true}">Samþykkt</p>
                        </td>

                        <td th:if="${LoggedInUser.isElevatedUser}" th:text="${request.grade}"></td>

                        <td th:text="${request.dateOfRequest}">

                        <td class="staff_button">
                            <div>
                                <p th:if="${request.status == false && LoggedInUser.isElevatedUser}"><a th:href="@{/acceptRequest/{id}(id=${request.id})}">Samþykkja Beiðni</a></p>
                                <p><a th:href="@{/deleteRequest/{id}(id=${request.id})}">Eyða Beiðni</a></p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section th:if="${LoggedInUser.isElevatedUser || LoggedInUser.id == request.patient.id}">
        <h2>Breyta beiðni</h2>
        <form class="form" id="dropDownList" action="#"  th:object="${request}" th:action="@{/updateRequest/__${request.id}__}" method="POST">
            <fieldset>
                <legend>Upplýsingar</legend>

                <div th:if="${LoggedInUser.isElevatedUser}">
                    <div>
                        <label for="staff">Starfsmaður</label>
                        <select th:field="*{staff}" th:each="stff : *{staff}" id="staff">
                            <option th:each="staffMember : ${physiotherapists}" th:value="${staffMember.id}" th:text="${staffMember.name}" th:selected="${stff.id == staffMember.id}"></option>
                        </select>
                    </div>
                    <div>
                        <label for="grade">Forgangur</label>
                        <input type="number" th:field="*{grade}" th:value="${grade}" id="grade" th:placeholder="${request.grade}">
                    </div>
                    <div>
                        <label for="questionnaire">Spurningalisti</label>
                        <select th:field="*{questionnaire}" id="questionnaire">
                            <option th:each="questionnaireChoice : ${questionnaires}" th:value="${questionnaireChoice.id}" th:text="${questionnaireChoice.name}" ></option>
                        </select>
                    </div>
                </div>

                <div th:if="${LoggedInUser.id == request.patient.id}">
                    <div th:if="${!questionnaires.isEmpty}">
                        <label for="bodyPart">Líkamshluti</label>
                        <div id="bodyPart" class="bodypart_div">
                            <label>
                                <input type="radio" th:if="${questionnaire.displayOnForm}" th:each="questionnaire : ${questionnaires}" th:field="*{questionnaire}" th:value="${questionnaire.id}" th:text="${questionnaire.name}">
                            </label>
                        </div>
                    </div>
                    <div>
                        <label for="description">Lýsing á vandamáli</label>
                        <input type="text" th:field="*{description}" id="description"  placeholder="Lýsing">
                    </div>
                </div>
            </fieldset>
            <input type="submit"  value="Skrá breytingar" class="button">
        </form>

        <details th:if="${(request.questionnaire != null) && !(request.questionnaireAnswers.isEmpty)}">
            <summary>Svör spurningalista:</summary>
            <table class="table">
                <thead>
                <tr>
                    <th>Spurning</th>
                    <th>Svar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question : ${request.questionnaire.questions}">
                    <td th:text="${question.questionString}"></td>
                    <td th:text="${question.answer}"></td>
                </tr>
                </tbody>
            </table>
        </details>
    </section>
    <section>
        <p><a href="/" class="back">Til baka</a></p>
    </section>
</main>
</body>
</html>