.header {
    background-color: #c1d3fe;
    display: flex;
    justify-content: center;
}

.efni {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 2rem;
    width: 90%;
}

p {
    display: flex;
}

.p_back{
    display: flex;
    margin: auto;
}

.p_back a{
    color: #000000;
    text-decoration: none;
}

/*--------------------Form------------------------------------------*/
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 1rem;
    width: 50%;
    box-sizing: border-box;
}

.form fieldset {
    border: 1px solid #abc4ff;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}


.form fieldset div {
    margin-bottom: 1rem;
}

.form input{
    width: 100%;
}




/*-------------------Button-------------------------------------------*/
.signUp .button{
    margin: 1rem;
    text-decoration: none;
}

.button {
    background-color: #edf2fb;
    border: 1px solid #e2eafc;
    color: #000000;
    padding: 0.8rem;
    border-radius: 1rem;
    text-decoration: none;
}

.button:hover {
    border: 2px solid #abc4ff;
    background-color: #ffffff;
}

p .back {
    color: #000000;
    text-decoration: none;
}

p .back:hover{
    font-weight: 600;
}

.viewUser_button,
.extraButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.viewUser_button p,
.extraButton p{
    margin-right: 1rem;
    border: 1px solid #abc4ff;
    border-radius: 1rem;
    padding: 0.5rem;
}

.viewUser_button p:hover,
.extraButton p:hover{
    background-color: #edf2fb;
    border: 1px solid #abc4ff;
}

.viewUser_button .viewUser_staff_button {
    display: flex;
    flex-direction: row;
}



/*-----------------------------------------User info-----------------------------*/
.userInfo {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.userInfo_change {
    display: flex;
    justify-content: end;
}


/*---------------------------Requests--------------------------------------------*/

.request {
    display: flex;
    flex-direction: row;
}

.status-false h2,
.status-true h2{
    display: flex;
    margin: auto;
    margin-bottom: 0.5rem;
}

.request_question{
    border: 1px solid #00296b;
    border-radius: 1rem;
    display: flex;
    margin: auto;
}

.request_section {
    width: 50%;
    padding: 0.5rem;
}

.request_section div{
    display: flex;
    flex-direction: row;
}

.request_section .patient_buttons {
    justify-content: space-evenly;
}

.patient_buttons p {
    border: 1px solid #000000;
    border-radius: 1rem;
    padding: 0.5rem;
}

.request_section div p{
    margin-right: 0.5rem;
}

.request_section div .label {
    font-weight: 900;
}

.status-false,
.status-true {
    background-color: #c7f9cc;  
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

.status-false {
    background-color: #ffadad;    
}

/*-----------------------Table----------------------------------------*/

.table {
    margin-block-end: 1rem;
    border-collapse: collapse;
    width: 100%;
}
  
.table tbody tr:nth-child(odd) {
    background-color: #edf2fb;
}
  
.table th,
.table td {
    padding: calc(1rem / 2);
    text-align: left;
}

.table .staff_button div a:hover{
    font-weight: 600;
}

.table .staff_button div{
    display: flex;
    flex-direction: column;
}

.staff_button div p{
    display: flex;
    margin: auto;
    margin-bottom: 0.25rem;
}

.staff_button div p a{
    text-decoration: none;
    color: #000000;
}

.staff_index_button div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/*----------------Questions-------------------*/

.questionForm {
    width: 100%;
}

.questionForm .questionFieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.question_div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    width: 95%;
    padding: 1rem;
}

.question_div:nth-child(4n - 2),
.question_div:nth-child(4n - 1) {
    background-color: #edf2fb; 
}

.question_div div label{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-left: 1rem;
}

.question_button {
    display: flex;
    justify-content: center;
}

.question_button p{
    width: 20%;
}

.answer_question {
    display: flex;
    justify-content: center;
} 

/*--------------Login-------------------*/
.loginError {
    margin-bottom: 1rem;
    color: red;
}

.bodypart_div {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.bodypart_div label{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-left: 1rem;
}



